.category{
    font-size: 2.5rem;
    display: flex;
    margin: 2rem;
    font-family: 'Dodo';
    font-weight: 800;
}

.card{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin: 1rem;
    cursor: pointer;
}

.img-pizza_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.img-pizza_wrapper img{
    transition: 0.3s;
}

.img-pizza_wrapper img:hover{
    transform: translateY(-5%);
    transition: 0.3s;
}

.card h1{
    /* padding-left: 0.7rem; */
    padding-top: 1rem;
    font-family: 'Dodo';
    font-size: 1.5rem;
    margin-left: 0;

}

.description{
    display: flex;
    flex-direction: column;
}

.sub-description{
    font-family: 'Dodo';
    color: grey;
    font-size: 1rem;
    
}