header{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    font-family: 'Trajan';
}

.header__title{
    font-size: 3rem;
    font-family: 'Trajan';
    margin: 1.5rem 0 1rem 0.5rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.logo{
    margin: 0.5rem;

}

.register_button{
    font-size: 1.5rem;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--main-color);
    margin-right: 1.5rem;
    font-family: 'Radiance';
    
}

.register_button:hover{
    color: white;
    transition: 0.3s;
}

.dota_button{
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Radiance';
}

.dota_button .dota_icon{
    background-image: url(../images/dota-black-Photoroom.png);
    width: 50px;
    height: 50px;
    margin-left: 1.5rem ;
    margin-right: 1.5rem ;
    background-size: cover;
    transition: background-image 0.4s;
}

.dota_button:hover .dota_icon{
    background-image: url(../images/dota-white-Photoroom.png);
    
}

.dota_button:hover{
    color:white;
    transition: 0.4s;
}