@font-face {
    font-family: "Dodo";
    src: url(../styles/fonts/Dodo/DodoRounded_v2-Regular.otf);
}

@font-face {
    font-family: "Trajan";
    src: url(../styles/fonts/trajanpro_bold.otf);
}

@font-face {
    font-family: "Radiance";
    src: url(../styles/fonts/radiance-regular.otf);
}

@keyframes appearence {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.main-body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dota-text{
  font-family: 'Radiance', sans-serif; /* Похожий на оригинал шрифт */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.3s;

  background: linear-gradient(to bottom, 
    #e2e2e2 0%,    
    #a5a5a5 50%,   
    #7a7a7a 100%   
  );


  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.8));
}

html{
    height: 100vh;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

:root{
    /* --main-color: rgb(255, 139, 61); */
    --main-color: rgb(255, 0, 0);
    --text-color: black;
    --text-color-bright: ;
    --white-color: white;
    --grey-color: rgba(118, 118, 118, 0.178);
    --main-color-light: rgb(255, 119, 0) ;

}

