.menu{
    /* margin-top: 1rem; */
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    /* line-height: 2.8rem; */
    
}

.menu.fixed{
    z-index: 1000;
    background-color: #fffafaa4;
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    align-items: center;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.401);
}

.icon_fixed{
    width: 80px;
    height: 80px;
    padding: 0.5rem;
    transition: 0.3s;
    /* transform: translateX(-50%); */
}

.menu:last-child{
    background-color: #be8d8d;
}

.menu > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 3rem;
    font-size: 1.25rem;
    font-family: 'Dodo';
}

.nav-menu-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu ul li a{
    text-decoration: none;
    color: black;

}

.menu ul li a:hover{
    color: var(--main-color);
    transition: 0.2s;
}

.dropdown{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
    
}

.dropdown:hover{
    cursor: pointer;
    transition: 0.2s;
    color: var(--main-color);

    
}

.dropdown img{
    margin-top: 7px;
    width: 20px;
    height: 20px;
    margin-left: 5px;

}

.dropdown-menu{
    /* display: none; */
    opacity: 0;
    position: absolute;
    list-style: none;
    flex-direction: column;
    line-height: 2rem;
    /* background-color: var(--main-color); */
    background: linear-gradient(to bottom, #AC2E16 0%, #8D3020 100%);
    top: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: 0.3s;
}

.dropdown-menu li a{
    display: block;
    text-decoration: none;
}

.dropdown-menu li a:hover{
    color: rgb(255, 255, 255) !important;
}

.dropdown:hover .dropdown-menu{
    display: flex;
    opacity: 1;
    transition: 0.3s;

}

.basket-button{
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 0.7rem;
    font-family: 'Radiance';
    margin: 0 1.5rem;
    /* background-color: var(--main-color); */
    background: linear-gradient(to bottom, #AC2E16 0%, #8D3020 100%);
    transition: 0.3s;
    line-height: 1.5rem;
}

.basket-button:hover{
    color: var(--white-color) ;
    cursor: pointer;
}