.order-window{
    max-height: 650px;
    width: 1000px;
    background-color: var(--white-color);
    z-index: 1050;
    font-family: 'Dodo';
    border-radius: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appearence 0.3s ease;
    display: flex;
    flex-direction: row;
}

.img-wrapper{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img{
    height: 400px;
    width: 400px;
}


.list{
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-top-right-radius: 24px ;
    border-bottom-right-radius: 24px ;
    /* justify-items: center; */
    align-items: center;
    
}

.order-title-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.order-title-wrapper h1{
    margin: 1rem 0 0 0;
}


.add-ingredients{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 1rem 0 1.5rem 0.3rem;
    padding-left: 1.5rem;

}

.confirm-section{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 80%;
    justify-content: center;
    
}

.confirm-section button{
    width: 100%;
}

.ingr-title{
    width: 100%;
    margin-left: 0.5rem;
}
.ingr-card{
    width: 100px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.089) 0px 1px 15px;
    transition: 0.3s ease;
    border: none;
}

.ingr-card:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.158) 0px 4px 20px;

}


