.sign-window{
    min-height: 360px;
    width: 500px;
    background-color: var(--white-color);
    z-index: 1050;
    font-family: 'Dodo';
    border-radius: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appearence 0.3s ease;
}


.sign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;

}

.sign-input_wrapper{
    border-radius: 5px;
    background-color: var(--grey-color);
    padding: 1.1rem;
    width: 90%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    gap: 8px;
    margin-bottom: 1rem ;
}

.sign-input{
    width: 100%;
    font: inherit;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    caret-color: var(--main-color);
}

.description{
    font-size: 0.8rem;
    text-align: center;
}

.sign-button{
    /* background-color: var(--main-color); */
    background: linear-gradient(to bottom, #AC2E16 0%, #8D3020 100%);
    border: none;
    padding: 1rem;
    font-family: 'Dodo';
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    width: 90%;
    cursor: pointer;
    transition: 0.3s;
}

.sign-button:hover{
    background-color: var(--main-color-light);
    color: var(--white-color);
}

.sign-button.deactivated{
    cursor: not-allowed;
    background-color: var(--main-color);
    opacity: 0.4;
    color: var(--white-color);

}