.stories-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stories{
    height: 20rem;
    width: auto;
    display: flex;
    margin: 0 0.6rem;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;

}

.story-wrapper{
    height: 95%;
    min-width: 13rem;
    background-color: #fff;
    overflow: hidden;
    margin: 0.3rem;
    border-radius: 15px;

}

.story-wrapper img{
    width: 450px;
    height: auto;
    display: flex;
    justify-content: center;

}

